.upper-right {
    position: fixed;
    top: 0;
    right: 0;
    
}
.badge-primary{
    color: white;
    font-family: Montserrat;
    font-size: larger;
    border: 1px solid black;
    margin: 3px;
    padding: 1px; 
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

}
.badge-primary:hover {
    background: black;
}

.search-bar {
    background-color: white;
    border: 2px solid #FAF9F6;
    position: absolute;
    right: 10vw;
    left: 27vw;
    top: 30vw;
    margin-top: 10px;
    border-radius: 40px;
    padding: 15px 20px;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    outline: none;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 1, 0.5); 
}

.search-bar:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 1, 1.0); 
  }


.buttons {
    
    position: fixed;
    margin-left: 35vw;
    margin-top: 38vw;
    width: 100%;
}

.button1 {
    background-color: #cdd3d8;
    border: 1px solid #dfe1e5;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bolder;
    color: rgb(58, 56, 56);
    cursor: pointer;
    border-radius: 4px;
    margin: 0 4px;
    transition: background-color 0.3s ease,box-shadow 0.3s ease;
}


/* Google Image Search */
.full-search {
    background-color: white;
    width: 100%;
    height: 100vh;
    margin-top: 10vh;
    margin-bottom: 20vh;
}
.img-search-bar:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 1, 1.0); 
}
.gif {
    position: absolute;
    padding: 10vw 21vw;
    left: 10%;
    top: 0;
    right: 10%;
}

/* Google Advanced Search */
.container {
    background-color: #f1f1f1;
    margin-left: 0;
}

h2 {
    margin-bottom: 20px;
}

    /* BIG SCREEN */
    @media (min-width: 700px){
        .img-search-bar {
          background-color: white;
          outline: none;
          border: 2px solid #FAF9F6;
          border-radius: 25px;
          background-color: blue;
          position: absolute;
          margin-left: 10%;
          width: 50vw;
          height: 5vw;
          background-color: white;
          margin: 20vw 25vw;
          padding: 20px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          transition: box-shadow 0.3s ease;
          box-shadow: 0 4px 8px rgba(0, 0, 1, 0.5);
        }

        .img-buttons {
            background-color: white;
            width: 15vw;
            height: 4vw;
            top: 10vw;
            left: 10vw;
            margin-top: 28vw;
            margin-left: 40vw;
            border: 0.3px solid grey;
            border-radius: 5px;
        }
        .img-buttons:hover {
            background-color: #ECECE9;
            border-radius: 10px;
        }
 }
    /* SMALL SCREEN */
    @media (max-width: 700px) {
        .img-search-bar {
            background-color: white;
            border-radius: 25px;
            margin-left: 10%;
            width: 70vw;
            height: 9vw;
            margin: 40vw 15vw;
            padding: 20px;
            border: 2px solid #FAF9F6;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            transition: box-shadow 0.3s ease;
            box-shadow: 0 4px 8px rgba(0, 0, 1, 0.5); 
        }

        .img-buttons {
            display: none;
        }

        .gif {
            display: none;
        }
    }